body{
    background-color:rgb(171, 169, 169);
    padding: 15px;

}
table{
    background-color:rgb(226, 222, 222);
    color:black;
    border-color: black;
}
.title {
    font-size: 30px;
    color: black;
}
.list-item {
    margin-bottom: 24px;
    font-size: 17px;
}
li {
    color: black;
}
input{
    height: 30px;
    background-color:rgb(226, 222, 222) ;
    color:black;
    border-color: black;
    border-radius: 3%; 
}
.add-task-button{
    height: 28px;
    font-size: 14px;
}
